

.intro__subtitle{
    font-family: "inter", sans-serif;
	width: 690px;
	height: 68px;
    left:148px;
    margin: 0;
	padding-top: 40px;
	font-size: 24px;
	line-height: 34px;
    color: #FFFFFF;

}



  }
  
  @media screen and (max-width: 768px) {
    .intro__subtitle {
      width: 720px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .intro__subtitle {
      width: 288px; 
      line-height: 125%;
    }
  }