
.places{
    width: 986px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}


@media screen and (min-width: 425px) and (max-width: 768px) {
    .places {
      padding-top: 88px;
    }
  }
  
  @media screen and (max-width: 425px) {
    .places {
      padding-top: 64px;
    }
  }
  