

.places {
  padding-top: 92px;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 0;
  max-width: 984px;
  margin: auto;
}


@media  screen and (min-width: 769px) and (max-width: 1023px) {
  .places {
      padding-right: 24px;
      padding-left: 24px;
  }
}



@media  screen and (max-width: 320px) {
  .places {
      padding-right: 0;
      padding-left: 0;
      margin: 0;
  }
}