@import "./__list/places__list.css";

.places {
  max-width: 984px;
  padding-top: 92px;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 0;
  margin: auto;
}


@media screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .places {
      padding-right: 48px;
      padding-left: 48px;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1023px) {
  .places {
      padding-right: 24px;
      padding-left: 24px;
  }
}
@media screen and (min-width: 561px) and (max-width: 768px) {
  .places {
      padding-right: 24px;
      padding-left: 24px;
  }
}

@media screen and (min-width: 410px) and (max-width:560px) {
  .places {
      padding-left: 24px;
      margin: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 330px) {
  .places {
      padding-right: 0;
      padding-left: 0;
      margin: 0;
  }
}