.lead__square-pic{
    padding: 0;
    margin: 0;
    width: 984px;
    
align-self: center;
}
@media screen and (max-width: 1024px) {
	.lead__square-pic {
		width: 928px;
		height: 580px;
	}
}	

/*medium screen*/
@media screen and (max-width: 768px) {
	.lead__square-pic {
		width: 768px;
		height: 480px;
	}	
}

/*small screen*/
@media screen and (mac-width: 32px) {
	.lead__square-pic {
		width: 320px;
		height: 200px;
	}
}	