
.place__url-link{

    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: white;
   
}
.place__url-link:hover {
    transition: 2s ease-out;
    opacity: 50%;
  }