
.intro__list{
width: 690px;
height: 72px;
margin-top:32px;
margin-right: 442px;
font-family: 'inter', sans-serif;
font-size: 12px;
line-height: 150%;
font-style: normal;
list-style-type: none;
color: #FFFFFF;
padding-left: 0;
margin: 0;
}