@import "../lead/__title/lead__title.css";
@import "../lead/__subtitle/lead__subtitle.css";
@import "../lead/__square-pic/lead__square-pic.css";
@import "../lead/__image/lead__image.css";
@import "../lead/__caption/lead__caption.css";



.lead{
    display: flex;
flex-direction: column;
position: relative;
box-sizing: border-box;
width: 100%;

}