.photo-grid__item{ 
width: 100%;
    list-style: none;
  display: block;
}


.photo-grid__item{ 
  display: inline-grid; 
  max-width: 100%; 
} 
@media screen and (max-width: 320px) { 
  .photo-grid__item { 
    width: 288px; 
    height: 216px; 
    padding-bottom: 8px; 
  } 
} 
 
@media screen and (min-width: 321px) and (max-width: 767px) { 
  .photo-grid__item { 
      width: 352px; 
      height: 264px; 
    padding-bottom: 14px; 
  } 
} 
@media screen and (max-width: 1024px) { 
.grid__item { 
  width: 300px; 
height: 225px; 
} 
}	 