.cover__subtitle {
  font-family: 'Inter', Arial, sans-serif; 
  max-width: 320px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 32px; 
  z-index: 1;
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    width: 288px; 
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    min-height: 48px;
  }
}