.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  margin: 32px auto 0;
  text-align: center;
  color: white;
}


@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 110%;
  }
}