.footer__links {
  font-family: 'Inter', 'Arial', sans-serif;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

@media screen and (max-width: 650px) {
  .footer__links {
      display: block;
  }
}

