
.footer__copyright {
  font-family: 'Inter', 'Arial', sans-serif;
 
  max-width: 210px;
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin: 0;
  padding: 0;
  text-align: right 
}

@media screen and (max-width: 650px) {
  .footer__copyright {
    margin: 16px 0 24px 0;
text-align: start;


      }
}