
.intro__text {
    font-size: 16px;
    line-height: 26px;
    margin: 32px 0 32px 0;
    width: 690px;
    font-family: "inter", sans-serif;
color: white;
  }

  
  
  @media screen and (max-width: 1023px) {
    .intro__text {
      font-size: 16px;
      line-height: 162%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .intro__text {
      width: 720px;
    }
  }
  
  