@import "./__title/intro__title.css";
@import "./__subtitle/intro__subtitle.css";
@import "./__text/intro__text.css";
@import "./__list/intro__list.css";
@import "./__span-accent/intro__span-accent.css";

.intro {
  max-width: 690px;
  padding: 92px 442px 0 148px;
  margin: 0;
}

@media screen and (min-width: 1290px) {
  .intro {
      margin: auto;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
      margin: auto;
      padding-right: 286px;
      padding-left: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
      margin: auto;
      padding: 88px 24px 0 24px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .intro {
      margin: auto;
      padding: 64px 24px 0 24px;
  }
}

@media screen and (max-width: 374px) {
  .intro {
      padding: 64px 16px 0 16px;
  }
}