
.lead__subtitle {
    align-self: center;
    width: 620px;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin: 32px 0 64px 0;
    color: white;
  }
  


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
    font-size: 16px;
    line-height: 125%;
    width: 288px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px 0 40px 0;
    font-size: 16px;
    line-height: 125%;
  }
}