.lead__subtitle {
  max-width: 620px;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 0;
  text-align: center;
  color: white;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__subtitle {
     max-width: 620px;
      font-size: 30px;
      line-height: 120%;
      margin: 74px auto ;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
      max-width: 288px;
      font-size: 16px;
      line-height: 100%;
      margin: 16px auto;
  }
}