@import "../cover/__overlay/cover__overlay.css";
@import "../cover/__title/cover__title.css";
@import "../cover/__subtitle/cover__subtitle.css";

.cover {
  max-width: 1184px;
  width: 100%;
  height: 740px;
  position: relative;
  align-self: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto 92px auto; 
}
.cover:hover {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    height: 640px;
    margin-bottom: 88px;  
  }
}

@media screen  and (max-width: 320px) {
  .cover {
    width: 100%;
    height:200px;
    margin-bottom: 64px;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1280px)  {
  .cover {
      width: 1024px;
      height: 640px;
      margin-top: 88px;
  }
}



