@import "../cover/__overlay/cover__overlay.css";
@import "../cover/__title/cover__title.css";
@import "../cover/__subtitle/cover__subtitle.css";



.cover {
  max-width: 1184px;
  min-width: 320px;
  background-image: url("/images/cover-route-66.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin: 92px auto 0 auto;
  position: relative;
  align-items: center;
  justify-content: center;
}

.cover:hover {
  opacity: 0.3;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  .cover {
    margin-top: 64px;
    width: 320px;
    height: 200px;
  }
}



@media screen and (min-width: 768px) {
  .cover {
      width: 768px;
      height: 480px;
      margin-top: 88px;
  }
}


@media screen and (min-width: 1024px) {
  .cover {
      width: 1024px;
      height: 640px;
      margin-top: 88px;
  }
}



