.cover__title { 
  font-family: 'Inter', Arial, sans-serif;
  width: 656px;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color:white;
  z-index: 1;
}


@media screen and (max-width: 767px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
  }
}