@import "../footer/__link/footer__link.css";
@import "../footer/__links/footer__links.css";
@import "../footer/__copyright/footer__copyright.css";


.footer {
  max-width: 1184px;
  display: flex;
  padding: 92px 48px 24px 48px;
  margin: auto;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px 24px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
  }
}