
.intro__title {
  font-family: 'Inter', Arial, sans-serif;
 font-size: 54px; 
	line-height: 58px; 
	max-width: 690px; 
  font-weight: 900;
	color: white; 
} 
 
 
   
@media screen and (max-width: 768px) { 
    .intro__title { 
        width: 720px; 
      margin-top: 88px; 
    } 
  } 
   
  @media screen and (max-width: 425px) { 
    .intro__title { 
      
      width: 288px; 
      font-size: 32px; 
line-height: 109%; 
margin-top: 64px; 
    } 
  }